main {
  text-align: center;
}
.cat-image {
  width: 220px;
  display: block;
  margin: 30px auto;
}

body {
  background-color: #f5ffe8;
  font-family: sans-serif;
  margin: 0;
}

h1 {
  font-size: 48px;
  color: #ff7b7b;
  margin-bottom: 5px;
}
.subtitle {
  color: gray;
  margin-top: 0;
  margin-bottom: 30px;
}
.cat-world.clean {
  background-color: #dff7c8;
}
.cat-world.warning {
  background-color: #d8d0a8;
}
.cat-world.danger {
  background-color: #8b8178;
}
